.v1{
    font-size: 20px;
    display: inline-block;
    background-color: aqua;
    border: 3px solid black;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    box-shadow: 5px 5px 5px 5px black;
    margin-left: 40%;
    margin-right: 40%;
    
    }
    .v2{
        margin-left: 40%;
    }
    .v3
    {
        margin-left: 45%;
    }
    .z1{
        margin-left: 35%;
        font-size: 25px;
    }